section {
    width: 500px;
    height: 500px;
    background-color: violet;

}

#rgba {
    width: 50%;
    height: 50%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: #00cca0af;
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.5;
}