section {
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1620232256344-d600d376d1a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    background-size: cover;
    background-position: center; */
    background: no-repeat center/cover url("https://images.unsplash.com/photo-1620232256344-d600d376d1a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    margin: 0 auto;

}

h1 {
    font-size: 100px;
    color: white;
}